<IfModule mod_rewrite.c>
  RewriteEngine On
  # CSS, JS, 画像ファイルをリライト対象から除外
  RewriteCond %{REQUEST_URI} !\.(css|js|jpg|jpeg|png|gif|ico|svg|webp)$ [NC]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
